[MASTER]
# Use multiple processes to speed up Pylint
jobs=1

# Pickle collected data for later comparisons
persistent=yes

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods
    W0718,  # broad-exception-caught
    C0103,  # invalid-name (for short variable names)
    R0913,  # too-many-arguments
    R0914,  # too-many-locals
    W0613,  # unused-argument (for exception handlers)
    W1203,  # logging-fstring-interpolation
    W1508,  # invalid-envvar-default
    C0303,  # trailing-whitespace
    C0304,  # missing-final-newline

[REPORTS]
# Set the output format
output-format=colorized

# Tells whether to display a full report or only the messages
reports=no

[BASIC]
# Good variable names
good-names=i,j,k,ex,Run,_,id,app

# Regular expression matching correct function names
function-rgx=[a-z_][a-z0-9_]{2,30}$

# Regular expression matching correct variable names
variable-rgx=[a-z_][a-z0-9_]{2,30}$

# Regular expression matching correct constant names
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100

# Maximum number of lines in a module
max-module-lines=1000

[DESIGN]
# Maximum number of arguments for function / method
max-args=7

# Maximum number of attributes for a class
max-attributes=10

# Maximum number of boolean expressions in an if statement
max-bool-expr=5

# Maximum number of branch for function / method body
max-branches=12

# Maximum number of locals for function / method body
max-locals=15

# Maximum number of return / yield for function / method body
max-returns=6

# Maximum number of statements in function / method body
max-statements=50